/* You can add global styles to this file, and also import other style files */

/*FONTS*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'roboto';
  margin: 0;
  padding:0;
}

.gradient {
    background-repeat: no-repeat;
    /* can be treated like a fallback */
    background-color: red;
  
    /* will be "on top", if browser supports it */
    background-image: linear-gradient(red, orange);
  
    /* these will reset other properties, like background-position, but it does know what you mean */
    background: red;
    background: linear-gradient(rgb(218, 117, 101), rgb(255, 211, 129)) fixed;
  
  }